.catalog {
    background-image: #4A2c2c;

    width: 100%;
    min-height: 90vh;
    color: #fef857;
    padding: 3rem;
}

.catalod-wraper {
    background-color: transparent;
    opacity: 1;

    display: inline-block;
    width: 100%;
    height: 100%;
}

