.book-card {
    background-color: #ce5501;
    border-radius: 8px;

    padding: 1rem;
    margin-inline: auto;
    margin-top: 3rem;
    width: 50%;
    height: 300px;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-around;

    transition: all 300ms ease-in-out;

}

.book-card:last-of-type {
    margin-bottom: 2rem;
}

.book-card:hover {
    box-shadow: 0px 2px 20px 5px #d78111;
    background-color: #d8670a;
}

.card-imgage-wraper {

    background-color: white;
    border: 1px solid white;
    width: 90%;
    height: 85%;
}

.card-imgage-wraper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text-wrapper p {
    font-size: 18px;
    line-height: 1.3;
    padding-block: 0.5rem;
    text-align: center;
}
.card-text-wrapper p:first-of-type{
    font-size: 22px;
    font-weight: bold;
}

.card-text-wrapper p:last-of-type{
    font-size: 14px;
}

.card-text-wrapper button {
    margin-top: 3rem;
    margin-left: 2.5rem;
}