header {
    /* background-color: var(--color-dark-orange); */
    /* background-image: linear-gradient(to top, #ce5501, #e07f00, #eea714, #f8cf33, #fef857); */
    background-color:transparent;
    opacity: 0.9;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header span {
    color: var(--color-light-orange);
    margin-left: 3rem;
    font-size: 56px;
}

header nav {
    width: 500px;

}

header a {
    text-decoration: none;
    color: var(--color-dark-yellow);
    font-size: 18px;
    transition: all 300ms ease-in-out;
}

header a:hover {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-light-yellow);

}

header nav .guest {
    margin-left: 12rem;
}



.guest,
.user,
.user ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}