.book-details-wrapper {
    background-color: #ce5501;
    color: #fdd400;
    border-radius: 8px;
    box-shadow: 0px 2px 20px 5px #d78111;

    margin-top: 4rem;
    margin-bottom: 5.5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-height: 70vh;
    margin-inline: auto;

}

.details-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.book-details-img-wraprer {
    width: 90%;
    height: 90%;
}

.book-details-img-wraprer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-details-text-container {
    line-height: 1.7;
    font-size: 20px;
    text-align: center;
}

.book-details-text-container h3{
    font-weight: bold;
    font-size: 24px;
}

.category-p{
    font-size: 16px;
}

.summary-p{
    margin-top: 2rem;
text-align: justify;
}

.likes-p{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 16px;
}

.book-details-comments-container {
    padding: 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.comment {
    background-color: #fdd400;
    color: #4A2c2c;
    border-radius: 8px;
    padding: 1rem;

}

.book-details-container {
    width: 450px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.book-details-buttons button {
    margin-left: 1rem;
}

.disabled {
    cursor: auto;
    color: darkgray;
    background-color: gray;
}

.disabled:hover {
    cursor: auto;
    color: darkgray;
    background-color: gray;
  
    font-weight: lighter;
    font-size: 18px;
 
}